@model IEnumerable<Recipe>
@{
    ViewBag.Title = "Recipe List";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-suceess mt-1">@TempData["message"]</div>
}

<div>
    <a asp-action="RecipeList" class="btn btn-primary m-3">Recipe</a> 
    <a asp-action="CuisineList" class="btn btn-dark">Cuisine</a>
</div>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="product-item-title d-flex w-100 mt-5 justify-content-xl-center">
                    <div class="recipe-box rounded">
                        @foreach (var r in Model)
                        {
                            <div class="recipe-box-div">
                                <ul class="list-group text-center list-unstyled">
                                    @*<li class="recipe-list"><a asp-action="ViewRecipe">@Html.ActionLink(r.Name, "ViewRecipe", "Recipes", new { id = r.Id }, null)</a></li>*@
                                    <li class="recipe-list">@r.Name</li>
                                    <li>
                                        <form asp-action="DeleteRecipe" method="post">
                                            <a asp-action="EditRecipe" class="edit-link" asp-route-recipeId="@r.Id">Edit</a>

                                            <input type="hidden" value="@r.Id" name="recipeId" />
                                            <button type="submit" class="delete-link">Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="text-center">
    <a asp-action="CreateRecipe" class="btn btn-primary">Add Recipe</a>
</div>
<br />
<br />